.navbar-brand {
  display: flex;
  flex-direction: column;

  strong {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
  }

  span {
    align-self: flex-end;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #fff56b;
  }
}

.nav-link {
  color: #fff;
  transition: all 0.2s;

  &:hover {
    color: #fff56b;
  }
}

@media screen and (max-width: 991.98px) {
  .navbar-collapse ul{
    margin-top: 3rem;
  }
}


/* -- NAVBAR TOGGLER BUTTON -- */

.navbar-toggler-icon {
  position: relative;

  &,
  &::before,
  &::after {
    width: 3rem;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    transition: all .2s;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
  }

  &::before {
    top: -.8rem;
  }

  &::after {
    top: .8rem;
  }
}

.navbar-toggler:hover .navbar-toggler-icon::before {
  top: -1rem;
} 

.navbar-toggler:hover .navbar-toggler-icon::after {
  top: 1rem;
} 

.navbar-toggler:active .navbar-toggler-icon {
  background-color: transparent;
} 

.navbar-toggler:active .navbar-toggler-icon::before {
  top: 0;
  transform: translateY(0.1rem);
} 

.navbar-toggler:active .navbar-toggler-icon::after {
  top: 0;
  transform: translateY(-0.06rem);
} 