.perfil {
  height: 100%;
  background: #212529;

  .container {
    padding: 12rem 0;
  }
  
  &__content {
    display: flex;
  }

  &__content-left {

    h1 {
      background: #fff56b;
      display: inline-block;
      padding: 3rem 2rem 1rem 6rem ;
      position: absolute;
    }

    img {
      background: #fff;
      height: 350px;
      margin: 4rem 0 0 10rem;
    }
  }

  &__content-right {
    padding-left: 6rem;

    p {
     line-height: 4rem;
     color: #fff;
    }

    h2 {
      margin: 4rem 0;
      color: #fff56b;
    }

    ul {
      list-style: none;
    }
  }

  &__line {
    border-top: 1px solid #fff;
  }

  &__text {
    margin: 4rem auto;
  }

  @media screen and (max-width: 991.98px) {
    .container {
      padding: 8rem 0;
    }

    &__content {
      flex-direction: column;
    }

    &__content-left {
      img {
        background: #fff;
        height: 400px;
        align-self: center;
      }
    }

    &__content-right {
      padding: 0 4rem;
    }
  }
}  