.portfolio {
  height: 100%;

  .container {
    padding: 12rem 0;
  }

  h1 {
    background: #212529;
    color: #fff;
    display: inline-block;
    padding: 3rem 2rem 1rem 6rem ;
  }

  &__content{
    margin-top: 16rem;
    position: relative;

    h2 {
      text-align: right;
      margin-top: 4rem;
    }
  }

  &__img {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 12rem;
    }

    &--svg {
      position: absolute;
      max-width: 913px;

      &-01 {
        top: -6.7rem;
        left: -10px;
      }

      &-02 {
        top: 47.9rem;
        right: -17px;
      }

      &-03 {
        top: 102.6rem;
        left: -10px;
      }
    }

    &--png-01, .a--01, &--png-03, .a--03 {
      align-self: flex-start;
    }

    &--png-02, .a--02 {
      align-self: flex-end;
    }

    a {
      margin-top: 1rem;
      text-decoration: none;
      color: #212529;
    }
  }

  &__img-min {
    display: none;
  }

  @media screen and (max-width: 991.98px) {
    .container {
      padding: 8rem 0;
    }

    &__content {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    &__img {

      &--svg {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-01 {
          top: -5.3rem;
          left: 3px;
        }
    
        &-02 {
          top: 40.2rem;
          right: 0;
          left: 3px;
        }
    
        &-03 {
          top: 85.7rem;
          left: 3px;
        }
      }

      &--png {
        width: 699px;
      }
    }

    a {
      margin: 0 auto;
    }
  }  

  @media screen and (max-width: 767.98px) {
    
    &__content {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    &__img {

      &:not(:first-child) {
        margin-top: 10rem;
      }

      &--svg {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-01 {
          top: -4rem;
          left: 2px;
        }
    
        &-02 {
          top: 31.9rem;
          right: 0;
          left: 2px;
        }
    
        &-03 {
          top: 67.8rem;
          left: 2px;
        }
      }

      &--png {
        width: 525px;
      }
    }
  }


  @media screen and (max-width: 575.98px) {
    background: #212529;

    h1 {
      background: #fff;
      color: #212529;
      display: inline-block;
      padding: 3rem 2rem 1rem 6rem ;
    }

    h2 {
      color: #fff;
    }

    &__content {
      margin-top: 8rem;
    }

    &__img {
      display: none;
    }

    &__img-min {
      display: flex;
      flex-direction: column;
      
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.5;
        transform: scale(1.05);
        transition: all .2s;

        &:hover {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
} 